body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Gugi', cursive;
  padding: 30px;
}

.initialize {
  text-align: center;
  background-image: url("https://media.giphy.com/media/10MHY1ZltdUjew/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 90px; */
  padding-top: 100px;
  padding-bottom: 105px;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 68%;
  border: 10px solid #000000;
  margin-top: 2%;
  text-align: center;
  letter-spacing: 3px;
}

.homeTitle {
  text-align: center;
  padding-top: 100px;
  color: #7eed23;
  letter-spacing: 5px;
  font-size: 70px;
  text-transform: uppercase;
}

h2 {
  color: #7eed23;
  letter-spacing: 3px;
  font-size: 30px;
}

.solarCalc {
  border: 1px solid white;
  padding: 30px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.inputBirth {
  color: #7eed23;
  letter-spacing: 3px;
  font-size: 30px;
}

.result {
  display: none;
}

.well {
  border: 1px solid white;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

#yearsToLive {
  text-align: center;
  padding-top: 70px;
  color: #7eed23;
  letter-spacing: 5px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: none;
}

#overlived {
  text-align: center;
  padding-top: 70px;
  color: #7eed23;
  letter-spacing: 5px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: none;
}

.flexBox {
  display: flex;
  height: 300px;
}

.item {
  height: 150px;
  margin-top: 10px;
}

#spaceship{
  padding: 5px;
  display: none;
}
