body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Gugi', cursive;
}

.homeTitle {
  text-align: center;
  padding-top: 100px;
  color: pink;
  letter-spacing: 5px;
  font-size: 70px;
  text-transform: uppercase;
}

.welcome h1 {
  padding-top: 100px;
  color: pink;
  letter-spacing: 5px;
  font-size: 70px;
  text-align: center;
}

.welcome h4 {
  color: pink;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: center;
}

.solarCalc {
  border: 1px solid white;
  padding: 30px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-top: 20px;
}

.well {
  border: 1px solid white;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}
